html,
body{
  height: 100vh;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container{
  max-width: 1890px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-small{
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}